
FLP/data/scenariosData/0.01/clustering_0.01.json
FLP/data/scenariosData/0.01/timesDict_1000_0.01.csv
FLP/data/scenariosData/0.01/timesDict_100_0.01.csv
FLP/data/scenariosData/0.01/timesDict_200_0.01.csv
FLP/data/scenariosData/0.01/timesDict_30_0.01.csv
FLP/data/scenariosData/0.01/timesDict_500_0.01.csv
FLP/data/scenariosData/0.01/timesDict_50_0.01.csv
FLP/data/scenariosData/0.01/vehiclesDict_100.json
FLP/data/scenariosData/0.01/vehiclesDict_1000.json
FLP/data/scenariosData/0.01/vehiclesDict_200.json
FLP/data/scenariosData/0.01/vehiclesDict_30.json
FLP/data/scenariosData/0.01/vehiclesDict_50.json
FLP/data/scenariosData/0.01/vehiclesDict_500.json
FLP/data/scenariosData/0.05/clustering_0.05.json
FLP/data/scenariosData/0.05/timesDict_1000_0.05.csv
FLP/data/scenariosData/0.05/timesDict_100_0.05.csv
FLP/data/scenariosData/0.05/timesDict_200_0.05.csv
FLP/data/scenariosData/0.05/timesDict_30_0.05.csv
FLP/data/scenariosData/0.05/timesDict_500_0.05.csv
FLP/data/scenariosData/0.05/timesDict_50_0.05.csv
FLP/data/scenariosData/0.05/vehiclesDict_100.json
FLP/data/scenariosData/0.05/vehiclesDict_1000.json
FLP/data/scenariosData/0.05/vehiclesDict_200.json
FLP/data/scenariosData/0.05/vehiclesDict_30.json
FLP/data/scenariosData/0.05/vehiclesDict_50.json
FLP/data/scenariosData/0.05/vehiclesDict_500.json
FLP/data/scenariosData/0.075/clustering_0.075.json
FLP/data/scenariosData/0.075/timesDict_1000_0.075.csv
FLP/data/scenariosData/0.075/timesDict_100_0.075.csv
FLP/data/scenariosData/0.075/timesDict_200_0.075.csv
FLP/data/scenariosData/0.075/timesDict_30_0.075.csv
FLP/data/scenariosData/0.075/timesDict_500_0.075.csv
FLP/data/scenariosData/0.075/timesDict_50_0.075.csv
FLP/data/scenariosData/0.075/vehiclesDict_100.json
FLP/data/scenariosData/0.075/vehiclesDict_1000.json
FLP/data/scenariosData/0.075/vehiclesDict_200.json
FLP/data/scenariosData/0.075/vehiclesDict_30.json
FLP/data/scenariosData/0.075/vehiclesDict_50.json
FLP/data/scenariosData/0.075/vehiclesDict_500.json
FLP/data/scenariosData/clusters/clustering_0.01.json
FLP/data/scenariosData/clusters/clustering_0.05.json
FLP/data/scenariosData/clusters/clustering_0.1.json
FLP/data/scenariosData/scenario1/timesDict.csv
FLP/data/scenariosData/scenario1/vehiclesDict.json
FLP/data/scenariosData/scenario2/timesDict_30_0.1.csv
FLP/data/scenariosData/scenario2/vehiclesDict_30.json
FLP/data/solutions/backGreedy/backGreedy_50_0.1.json
FLP/data/solutions/fwdGreedy/fwdGreedy_10.json
FLP/data/solutions/fwdGreedy/fwdGreedy_100.json
FLP/data/solutions/fwdGreedy/fwdGreedy_100_0.1.json
FLP/data/solutions/fwdGreedy/fwdGreedy_200.json
FLP/data/solutions/fwdGreedy/fwdGreedy_50.json
FLP/data/solutions/fwdGreedy/fwdGreedy_50_0.01.json
FLP/data/solutions/fwdGreedy/fwdGreedy_50_0.05.json
FLP/data/solutions/fwdGreedy/fwdGreedy_50_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_30_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_60_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/rndLocalSearch_60_0.1.json
FLP/data/solutions/randomLocalSearch/rndLocalSearch_10.json
FLP/data/scenariosData/0.1/optimalMapping_30_0.1.json
FLP/data/scenariosData/0.1/timesDict.dat
FLP/data/scenariosData/0.1/timesDict_30_0.1.dat
FLP/data/scenariosData/0.1/timesDict_50_0.1.csv
FLP/data/scenariosData/0.1/vehiclesDict_50.json
FLP/data/scenariosData/0.2/clustering_0.2.json
FLP/data/scenariosData/0.2/timesDict_1000_0.2.csv
FLP/data/scenariosData/0.2/timesDict_100_0.2.csv
FLP/data/scenariosData/0.2/timesDict_200_0.2.csv
FLP/data/scenariosData/0.2/timesDict_30_0.2.csv
FLP/data/scenariosData/0.2/timesDict_500_0.2.csv
FLP/data/scenariosData/0.2/timesDict_50_0.2.csv
FLP/data/scenariosData/0.2/vehiclesDict_100.json
FLP/data/scenariosData/0.2/vehiclesDict_1000.json
FLP/data/scenariosData/0.2/vehiclesDict_200.json
FLP/data/scenariosData/0.2/vehiclesDict_30.json
FLP/data/scenariosData/0.2/vehiclesDict_50.json
FLP/data/scenariosData/0.2/vehiclesDict_500.json
FLP/data/solutions/backGreedy/k_50/backGreedy_30_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_1000_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_100_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_200_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_500_0.1.json
FLP/data/solutions/fwdGreedy/k_50/fwdGreedy_50_0.1.json
FLP/data/solutions/optimal/k_50/optimal_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_1000/rndLocalSearch_50_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_1/r_10000/rndLocalSearch_50_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_1000/rndLocalSearch_50_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_2/r_10000/rndLocalSearch_50_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_1000/rndLocalSearch_50_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_1000_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_100_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_200_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_30_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_500_0.1.json
FLP/data/solutions/randomLocalSearch/k_50/p_3/r_10000/rndLocalSearch_50_0.1.json
